.videoFooter {
  position: relative;
  bottom: 25%;
  color: white;
  margin-left: 30px;
}

.videoFooter__text h3 {
  padding-bottom: 20px;
}

.videoFooter__text p {
  padding-bottom: 20px;
}

.videoFooter__music {
  display: flex;
}

.videoFooterMusic__text {
  width: 80%;
  overflow-x: hidden;
}

.videoFooterMusic__text p {
    animation: moveTheText 7s infinite linear;
}

.videoFooter__record {
  animation: spinTheRecord 1s infinite;
  position: absolute;
  bottom: 2px;
  right: 20px;
  height: 50px;
  filter: invert(1);
}

@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTheText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
